.lists {
  margin-top: -150px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  background-color: #000;

  z-index: 9;

  & img {
    width: 500px;
  }
}